<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello, Vue.js</title>

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ message }}1</h1>
        <p>{{ now }}</p>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Наведи на меня курсор на пару секунд,
            чтобы увидеть динамически связанное значение title!
        </span>
    </div>
    <div id="app-3">
        <span v-if="seen">Сейчас меня видно</span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
</body>


</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello, Vue!',
            now: new Date()
        }
    })
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Изучить JavaScript' },
                { text: 'Изучить Vue' },
                { text: 'Создать что-нибудь классное' }
            ]
        }
    })
</script>

<div id="apps">
    {{ message }}
</div>

<ul id="root">
    <todo-item></todo-item>
</ul>

</html>
<script>
    var apps = new Vue({
        el: '#apps',
        data: {
            message: 'Привет, Vue!'
        }
    })

    Vue.component('todo-item', {
        template: '<li>Это tod1o</li>'
    })
    new Vue({ el: "#root" }) 
</script>