<items>

    <channel>
        <title>
            <![CDATA[Поиск]]>
        </title>
        <search_on>
            <![CDATA[Введите поисковую фразу]]>
        </search_on>
        <playlist_url>http://animerise.ddns.net:3000/search/?with_material_data=true</playlist_url>
        <description>
            <![CDATA[  empty ]]>
        </description>
    </channel>

    <channel>
        <title>
            <![CDATA[Новости]]>
        </title>
        <playlist_url>
            http://animerise.ddns.net:3000/search/?types=anime-serial,anime&with_episodes=true&with_material_data=true&limit=100
        </playlist_url>
        <description>
            <![CDATA[ <?=$desc ?> ]]>
        </description>
        <logo_30x30>
            <![CDATA[3]]>
        </logo_30x30>
    </channel>



</items>