:root {
  --color-background: 237, 241, 245;
  --color-foreground: 250, 250, 250;
  --color-foreground-grey: 245, 246, 246;
  --color-foreground-grey-dark: 234, 236, 237;
  --color-foreground-blue: 246, 248, 251;
  --color-foreground-blue-dark: 241, 243, 247;
  --color-background-blue-dark: 31, 35, 45;
  --color-overlay: 31, 38, 49;
  --color-shadow: 49, 54, 68;
  --color-shadow-dark: 6, 13, 34;
  --color-shadow-blue: 103, 132, 187;
  --color-text: 92, 114, 138;
  --color-text-light: 122, 133, 143;
  --color-text-lighter: 146, 153, 161;
  --color-text-bright: 237, 241, 245;
  --color-blue: 61, 180, 242;
  --color-blue-dim: 141, 178, 219;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-red: 232, 93, 117;
  --color-peach: 250, 122, 122;
  --color-orange: 247, 154, 99;
  --color-yellow: 247, 191, 99;
  --color-green: 123, 213, 85;
  --color-background-100: 251, 251, 251;
  --color-background-200: 237, 241, 245;
  --color-background-300: 221, 230, 238;
  --color-background-400: 201, 215, 227;
  --color-background-500: 173, 192, 210;
  --color-background-600: 139, 160, 178;
  --color-background-700: 116, 136, 153;
  --color-background-800: 100, 115, 128;
  --color-background-900: 81, 97, 112;
  --color-background-1000: 64, 78, 92;
  --color-background-1100: 38, 52, 63;
  --color-background-1200: 27, 30, 31;
  --color-gray-100: 251, 251, 251;
  --color-gray-200: 237, 241, 245;
  --color-gray-300: 221, 230, 238;
  --color-gray-400: 201, 215, 227;
  --color-gray-500: 173, 192, 210;
  --color-gray-600: 139, 160, 178;
  --color-gray-700: 116, 136, 153;
  --color-gray-800: 100, 115, 128;
  --color-gray-900: 81, 97, 112;
  --color-gray-1000: 64, 78, 92;
  --color-gray-1100: 38, 52, 63;
  --color-gray-1200: 27, 30, 31;
  --color-blue-100: 247, 250, 252;
  --color-blue-200: 236, 246, 254;
  --color-blue-300: 201, 232, 255;
  --color-blue-400: 143, 215, 255;
  --color-blue-500: 111, 200, 255;
  --color-blue-600: 61, 180, 242;
  --color-blue-700: 8, 143, 214;
  --color-blue-800: 12, 101, 166;
  --color-blue-900: 11, 70, 113;
  --color-blue-1000: 16, 61, 85;
  --color-green-100: 245, 249, 243;
  --color-green-200: 226, 246, 217;
  --color-green-300: 160, 241, 126;
  --color-green-400: 119, 220, 76;
  --color-green-500: 83, 175, 45;
  --color-green-600: 56, 126, 26;
  --color-green-700: 46, 90, 27;
  --color-green-800: 41, 66, 31;
  --color-red-100: 255, 244, 246;
  --color-red-200: 254, 212, 220;
  --color-red-300: 255, 140, 160;
  --color-red-400: 236, 41, 75;
  --color-red-500: 213, 0, 37;
  --color-red-600: 165, 1, 29;
  --color-red-700: 117, 0, 20;

  --font-family-overpass: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-text));
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: 0.15s;
  outline: 0;
}
